<html>
<title>
    Python training project
</title>

<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
        <div style="margin-right: auto; margin-left: auto; width: 100px;"> <h1> GALLERY </h1></div>
        <br><br>
<div style="margin-right: auto; margin-left: auto; width: 1000px;" class="galleryWrapper">
    <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
    <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
    <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
    <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
</div>
<br><br>
<div style="margin-right: auto; margin-left: auto; width: 1000px;" class="galleryWrapper">
        <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
        <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
        <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
        <img src="static/image/index.jpg" alt="Suchita Index image" width="200px" height="200px">
    </div>
    <div class="box footer"><div class="footertext"><font size="2"><strong>CREATED BY: SUCHITA DMELLO</strong></font></div></div>
</body>

</html>