<html>
<title>
    Python training project
</title>

<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
<div class="wrapper">
    <div class="box header">
        <div class="buttonWrap">
        <button class="btn default" type="button" onclick="location.href='\home'">HOME</button>
        <button class="btn default" type="button" onclick="location.href='\about'">ABOUT</button>
        <button class="btn default" type="button" onclick="location.href='\gallery'">GALLERY</button>
        <button class="btn default" type="button" onclick="location.href='\login'">LOGIN</button>
        <button class="btn default" type="button" onclick="location.href='\signup'">SIGNUP</button>
    </div>
    </div>
    <div class="box sidebar">
        <h2>THIS IS MY HOMEPAGE</h2>
    </div>
    <div class="box content">
        <img src="static/image/index.jpg" alt="Suchita Index image" width="475px" height="475px">
    </div>
    <div class="box footer"><div class="footertext"><font size="2"><strong>CREATED BY: SUCHITA DMELLO</strong></font></div></div>
</div>  
</body>

</html>