<html>
<title>
    Python training project
</title>

<head>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
        <div style="margin-right: auto; margin-left: auto; width: 200px;"> 
            <h1> SIGN UP </h1> </div>
            <br><br>
        <form>
            <div class="row">
                <div class="col-md-10">
                <table>
                        <!-- Rows -->
                        <tr>
                                <td><strong>NAME</strong></td>
                                <td><input name="name" type="text" style='background-color: lightgray;'/></td>
                         </tr>
                        <tr>
                            <td><strong>E-MAIL:</strong></td>
                            <td><input name="email" type="email" style='background-color: lightgray;'/></td>
                        </tr>
                        <tr>
                            <td><strong>PASSWORD: </strong></td>
                            <td><input name="password" type="password" style='background-color: lightgray;'/></td>
                        </tr>
                    </table>
                    <br>
                    <div style="margin-right: auto; margin-left: auto; width: 200px;"> 
                        <input type="submit" style='display:flex; justify-content:center;  font-weight: 700; background-color: darkgray;' value="SUBMIT" /></td>
                     </div>   
                </div>
                </div>
        </form>
    <div class="box footer"><div class="footertext"><font size="2"><strong>CREATED BY: SUCHITA DMELLO</strong></font></div></div>   
</body>

</html>